@import '../../styles/variables.scss';

.viewSurroundingProducts + .footer {
  display: none;
}
.container {
  .viewSurroundingProducts {
    .infoWindow {
      position: absolute;
      z-index: 1;
      bottom: 0;
    }
    .view {
      padding: 0 0 40px;

      #map {
        width: 440px;
        height: 100vh;

        .productInfo {
          display: flex;
          align-items: center;
          min-width: 250px;
          width: 100%;
          height: 100%;
          padding: 10px;

          .productInfoImg {
            width: 70px;
            height: 70px;
            margin-right: 10px;
          }
          .productText {
            display: flex;
            flex-direction: column;
            .productInfoTxt {
              margin-bottom: 5px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
