@import '../../styles/variables.scss';

.searchModal {
  position: absolute;
  width: 440px;
  height: 100vh;
  top: 60px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);

  .modalBox {
    padding: 20px;
    width: 440px;
    height: 100px;
    background-color: #fff;
    z-index: 122;
    p {
      color: $black;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .searchInput {
      display: flex;
      justify-content: space-between;

      .searchText {
        width: 350px;
        border-radius: 100px;
        border: 1px solid $grey9;
        padding: 5px 10px;
        font-size: 13px;
        box-shadow: none;
        color: $grey6;
        &:focus {
          outline: none;
        }
      }

      .goToSearchResult {
        font-size: 12px;
        border: none;
        background-color: $green;
        color: #fff;
        border-radius: 50px;
        padding: 0 10px;
      }
    }
  }
}
