@import '../../styles/variables.scss';

.searchModal {
  position: absolute;
  width: 440px;
  height: 100vh;
  top: 60px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);

  .modalBox {
    padding: 20px;
    width: 440px;
    height: 100px;
    background-color: #fff;
    z-index: 122;
    p {
      color: $black;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .searchText {
      width: 100%;
      border-radius: 100px;
      border: 1px solid $grey9;
      padding: 5px 10px;
      font-size: 13px;
      box-shadow: none;

      :focus {
        outline: none;
      }
    }
    .goToSearchResult {
      position: absolute;
      right: 30px;
      top: 52px;
      font-size: 12px;
      border: none;
      background-color: inherit;
      color: $grey9;
    }
  }
}
