@import '../../styles/variables.scss';

.greenBtn {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 50px;
  background: $green;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  font-weight: 800;
}

.greenBtn:hover {
  background: #44633a;
}

.greenBtn:disabled {
  background: #6b8263;
}
