@import './variables.scss';

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
}

* {
  box-sizing: border-box;
  font-family: 'Pretendard';
}

button {
  cursor: pointer;
}

.outerContainer {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;

  .wrap {
    display: flex;
    justify-content: center;

    .container {
      margin: 0;
      padding: 0;
      overflow: auto;
      padding: 0;
      width: 440px;
      height: 100vh;
      background-color: white;
      box-shadow:
        -1px 0px 10px 0px $greyD,
        1px 0px 10px 0px $greyD;
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
