@import './variables.scss';

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
}

* {
  box-sizing: border-box;
  font-family: 'Pretendard';
}

button {
  cursor: pointer;
}

.outerContainer {
  background-color: #f5f5f5;
  width: 100%;
  height: 100vh;

  .wrap {
    display: flex;
    justify-content: center;

    .container {
      width: 440px;
    }
  }
}
