@import '../../styles/variables.scss';

.payment {
  .paymentContainer {
    padding-bottom: 50px;

    .paymentContainerWorkPlace {
      padding: 20px 30px;

      .paymentContainerInfoTitle {
        font-size: 20px;
        padding: 20px 0;
        border-bottom: 1px solid $greyD;
      }

      .paymentContainerProductInfo {
        padding-bottom: 50px;

        .paymentContainerProductDetail {
          display: flex;
          justify-content: space-between;
          padding-top: 30px;

          .paymentContainerProductTitle {
            width: 70px;
          }

          .paymentButton {
            background-color: white;
            border: 1px solid $greyD;
            border-radius: 100px;
            padding: 5px 30px 3px 30px;

            &:hover {
              background-color: $greyD;
            }
          }
          .paymentContainerProductData {
            text-align: end;
            width: 130px;
          }
          .paymentContainerUserData {
            text-align: end;
            width: 140px;
          }
        }
      }
      .totalPaymentPadding {
        padding-top: 80px;

        .totalPaymentContainer {
          display: flex;
          justify-content: space-between;
          font-size: 18px;
          padding: 20px 0;
          border-top: 1px solid $greyD;

          .totalPaymentContainerPrice {
            display: flex;
            gap: 5px;
          }
        }
      }

      .paymentCompletedBtn {
        padding-top: 10px;
        button {
          width: 380px;
        }
      }
    }
  }
}
