@import '../../styles/variables.scss';

.myPage {
  padding-bottom: 50px;

  .myPageContents {
    margin: 20px;

    .mypageTabs {
      font-size: 16px;
      color: black;

      h2 {
        font-size: 14px;
        font-weight: 600;
        color: $grey9;
      }

      ul {
        margin-bottom: 20px;

        li {
          margin-top: 15px;
          cursor: pointer;

          div {
            display: inline-block;
          }

          div:hover {
            color: $green;
          }

          div:active {
            color: #375a37;
          }
        }
      }

      .shopping {
        padding-bottom: 20px;
        border-bottom: 0.5px solid #f1f1f1;
      }

      .service {
        border-bottom: 0.5px solid #f1f1f1;
      }
    }
  }
}
